@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f9fc;
  --foreground: #333333;
  --font-roboto-mono: "Roboto Mono", Arial, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  --background: #1a1a2e;
  --foreground: #eaeaea;
}
